.arm-calc {
    --bg-color: white;
    --for-color: black;
    --border-color: white;
    display: grid;
    background-color: var(--bg-color);
    color: var(--for-color);
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: minmax(15%, auto) repeat(5, 15%);
    height: 100%;
    width: 100%;
}

.arm-calc button {
    cursor: pointer;
    font-size: 4.5vh;
    border: 1px solid var(--border-color);
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.arm-calc button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(80, 80, 80, .75);
    display: flex;
    min-height: 50%;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 3%;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 3.5vh;
}

.output .current-operand {
    color: white;
    font-size: 7vh;
}