*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

#calculator {
    width:100vw;
    height: 100vh;
}